alias vim=nvim
alias l="ls -al"
alias dscrot="scrot $HOME/Pictures/screenshots/%F:%T.png"
alias cp="cp -i"                                                # Confirm before overwriting something
alias df='df -h'                                                # Human-readable sizes
alias free='free -m'                                            # Show sizes in MB
